@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif !important;
}

:root {
  --blue: #0364c0;
  --white: #ffffff;
}

a {
  text-decoration: none !important;
}

.show {
  z-index: 9999 !important;
}

.login_container {
  background-color: var(--blue) !important;
  width: 100% !important;
  min-height: 100vh !important;
  padding-top: 150px;
}

.login_container h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 60px;
  color: #fff !important;
}

.login_container .MuiSvgIcon-root {
  font-size: 50px !important;
  color: #fff !important;
}

.MuiDrawer-root .MuiSvgIcon-root {
  color: var(--blue) !important;
}

.form_container {
  width: 500px !important;
  background-color: #fff !important;
  border-radius: 20px;
}

.form_container form {
  padding: 50px;
}

.form_container .btn {
  width: 100% !important;
  margin-top: 10px !important;
}

.btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--blue) !important;
}

.add-btn {
  padding: 10px !important;
  margin-bottom: 50px;
  margin-top: 25px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.add-btn .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 20px !important;
}

.red-btn {
  background-color: #d60031 !important;
}

.fs-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--blue);
  color: #fff;
}

.error-page h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 60px;
}
